@model BoletaProy.Models.persona

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ci)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ci)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.area.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_persona.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_persona.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
