@model IEnumerable<BoletaProy.Models.boleta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nro_orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_asignacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora_asignacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prioridad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.persona.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.servicio.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.nombre_usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nro_orden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_asignacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hora_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hora_asignacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hora_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prioridad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.persona.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.servicio.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.nombre_usuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
